{% extends 'base.html.twig' %}

{% block body %}

    <div class="home-page">



    {% for message in app.flashes('Compte créé avec succès!') %}
        <div class="flash-notice">
            {{ message }}
        </div>
    {% endfor %}

    <div class="video">

        <div class="about"><h2>Nantes en live</h2>le site d'actu musicale nantaise</div>
       <video src="{{ asset('/moove/vidHome.mov') }}" autoplay loop muted></video>
    </div>
    </div>
{% endblock %}
{% block footer %}

{% endblock %}