.body-article {
  overflow-y: auto;
  width: 100%;
  display: flex;
  justify-content: center;
 .index-article {
   display: flex;
   flex-flow: column;
   width: 60%;
   background-color: $white;
   border-right: solid 2px $red;
   border-left:  solid 2px $red;
   padding: 2em;
   text-align: center;
   h2 {
     font-family: $title;
   }
   p,
   ul {
     font-family: $text;
   }
   ul {
     li {
       list-style-type: none;
     }
   }
  }

  }