.body-form {
  overflow-y: auto;
  width: 100%;
  min-height: calc(100vh - 400px);
  display: flex;
  justify-content: center;
 .form {
   display: flex;
   flex-flow: column;
   background-color: $white;
   border-right: solid 2px $red;
   border-left: solid 2px $red;
   padding-bottom: 1em;
   text-align: center;
   h2 {
     font-family: $title;
   }
   p,
   ul {
     padding: .2em .2em;
     font-family: $text;
   }
   ul {
     li {
       list-style-type: none;
       margin-bottom: 1em;
     }
   }
 .author {
   font-style: italic;
       }
  }

  }

@media screen and (min-width: 960px){
  .form {
    padding: 2em;
    width: 60%;
  }

}