@import "variables";

body{
    width: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
    background-color: $white;
    margin: 0;
    .button{
      margin: .2em auto 1em auto;
      text-decoration-line: none;
      list-style-type: none;
      font-family: $text;
      background-color: $red;
      color: $black;
      border: $black solid .1em;
      box-shadow: $black 3px 3px 0, $black 2px 2px 0, $black 1px 1px 0 ;
      transition: all .1s;
      padding: .5em;
      width: 100px;
      &:hover{
        color: $black;
        cursor: pointer;
        text-decoration: none;
        box-shadow: $black 1px 1px 0;
        border: $black solid .1em;
        transform: translate3d(1px, 1px, 0);
      }
  }
  }
  nav {
    display: flex;
    flex-flow: row nowrap;
    background-color: $black;
    width: 100%;
    height: 200px;
   
   
    }
    span {
      height: 20px;
      width: 20px;
      color: white;
      font-size: 1em;
    }
    .banner {
      justify-self: flex-start;
    }
      ul {
        flex: 30%;
        min-width: 125px;
        flex-flow: column;
        align-self: center;
        padding: 0 0 0 2em;
        border-left: $red solid 1px;
        border-right: $red solid 1px;
        font-family: $title;
        font-weight: bold;
        font-size: 1.1em;
        li {
          line-height: 2.5em;
          a{
            text-decoration: none;
            list-style-type: none;
            color: $red;
            &:hover {
              text-decoration: none;
              color: $white;

            }
          }
        }
      }
    .searchBar {
      display: none;
    }
    

  main {
    display: flex;

    width: 100%;
  }

@media screen and (min-width: 960px) {
  nav {
  ul {
    display: flex;
    flex: 60%;
    flex-flow: row-reverse;
    justify-content: space-around;
  }

    .searchBar {
      display: flex;
      justify-content: center;
      align-items: center;

      flex: 70%;
      form {
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;

      }
      .search {
        flex: 100%;
        margin-bottom: .2em;
      }
      .button-search{
        border:solid .1em $red;
        border-radius: 5px;
        font-family: $text;
        color: $red;
        font-weight: bold;
        width: 100px;
        &:hover {
          background-color: $white;
        }
        }
      }
    }
}


