@import "variables";

*{
  display: flex;
  flex-flow: column;
  align-items: center;
  background-color: $white;
  body{
    width: 100%;
  }
  title{
    display: none;
  }
  a{
    text-decoration: none;
    &:hover{
      text-decoration: none;
    }
  }
  .banner{
    display: flex;
    background-color: #171717;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    text-align: center;
    h1{
      background: none;
      margin: auto;
      font-size: 10em;
      color: $white;
    }
  }

}

