footer {
  display: flex;
  flex-flow: column;
  width: 100%;
  h3 {
    text-align: center;
    font-family: $title;
    color: $red;
  }
.footer {
  display: flex;
  flex-flow: column;
  width: 100%;
  font-family: $text;
  .form-footer {
    display: flex;
    flex-flow: column;
    width: 100%;
    .first-name-footer {
      display: flex;
      justify-content: space-around;
    }
    .last-name-footer {
      display: flex;
      justify-content: space-around;
    }
    .mail-footer {
      display: flex;
      justify-content: space-around;
    }
    .button-footer {

    }
  }
}
  .contact-footer {

  }
}