.html {
  overflow-y: hidden;
}
.video {

  position: absolute;
  display: flex;
  justify-content: center;
  width: 100%;
  .about {
    h2 {
      font-family: $title;
      font-weight: bold;
      margin-top: 250px;
    }
    text-align: center;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(250, 252, 248, 0.50);
    font-family: $text;
    font-size: 4em;
    color: $white;
    text-shadow:  $red 1px 1px,
                  $red 2px 2px,
                  $red 3px 3px,
                  $red 4px 4px,
                  $red 5px 5px;
  }
}
