body {
  width: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
  background-color: #FAFCF8;
  margin: 0; }
  body .button {
    margin: .2em auto;
    text-decoration-line: none;
    list-style-type: none;
    font-family: "Nunito", sans-serif;
    background-color: #de6a50;
    color: #000000;
    border: #000000 solid 0.1em;
    box-shadow: #000000 3px 3px 0, #000000 2px 2px 0, #000000 1px 1px 0;
    transition: all .1s;
    padding: .5em;
    width: 100px; }
    body .button:hover {
      color: #000000;
      cursor: pointer;
      text-decoration: none;
      box-shadow: #000000 1px 1px 0;
      border: #000000 solid 0.1em;
      transform: translate3d(1px, 1px, 0); }

nav {
  display: flex;
  flex-flow: row nowrap;
  background-color: #000000;
  width: 100%;
  height: 200px; }
  nav .banner {
    justify-self: flex-start; }
  nav ul {
    flex: 30%;
    min-width: 125px;
    flex-flow: column;
    align-self: center;
    padding: 0 0 0 2em;
    border-left: #de6a50 solid 1px;
    border-right: #de6a50 solid 1px;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    font-size: 1.1em; }
    nav ul li {
      line-height: 2.5em; }
      nav ul li a {
        text-decoration: none;
        list-style-type: none;
        color: #de6a50; }
        nav ul li a:hover {
          text-decoration: none;
          color: #FAFCF8; }
  nav .searchBar {
    display: none; }

main {
  display: flex;
  width: 100%; }

@media screen and (min-width: 960px) {
  nav ul {
    display: flex;
    flex: 60%;
    flex-flow: row-reverse;
    justify-content: space-around; }
  nav .searchBar {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 70%; }
    nav .searchBar form {
      display: flex;
      flex-flow: column;
      justify-content: center;
      align-items: center; }
    nav .searchBar .search {
      flex: 100%;
      margin-bottom: .2em; }
    nav .searchBar .button-search {
      border: solid 0.1em #de6a50;
      border-radius: 5px;
      font-family: "Nunito", sans-serif;
      color: #de6a50;
      font-weight: bold;
      width: 100px; }
      nav .searchBar .button-search:hover {
        background-color: #FAFCF8; } }
.body-form {
  overflow-y: auto;
  width: 100%;
  min-height: calc(100vh - 400px);
  display: flex;
  justify-content: center; }
  .body-form .form {
    display: flex;
    flex-flow: column;
    background-color: #FAFCF8;
    border-right: solid 2px #de6a50;
    border-left: solid 2px #de6a50;
    padding-bottom: 1em;
    text-align: center; }
    .body-form .form h2 {
      font-family: "Roboto", sans-serif; }
    .body-form .form p,
    .body-form .form ul {
      padding: .2em .2em;
      font-family: "Nunito", sans-serif; }
    .body-form .form ul li {
      list-style-type: none;
      margin-bottom: 1em; }
    .body-form .form .author {
      font-style: italic; }

@media screen and (min-width: 960px) {
  .form {
    padding: 2em;
    width: 60%; } }
.html {
  overflow-y: hidden; }

.video {
  position: absolute;
  display: flex;
  justify-content: center;
  width: 100%; }
  .video .about {
    text-align: center;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(250, 252, 248, 0.5);
    font-family: "Nunito", sans-serif;
    font-size: 4em;
    color: #FAFCF8;
    text-shadow: #de6a50 1px 1px, #de6a50 2px 2px, #de6a50 3px 3px, #de6a50 4px 4px, #de6a50 5px 5px; }
    .video .about h2 {
      font-family: "Roboto", sans-serif;
      font-weight: bold;
      margin-top: 150px; }

footer {
  display: flex;
  flex-flow: column;
  width: 70%;
  bottom: 0; }
  footer .form-footer {
    display: flex;
    flex-flow: column;
    font-family: "Nunito", sans-serif; }
    footer .form-footer h3 {
      text-align: center;
      font-family: "Roboto", sans-serif;
      color: #de6a50; }
    footer .form-footer .first-name-footer {
      display: flex;
      justify-content: space-around; }
    footer .form-footer .last-name-footer {
      display: flex;
      justify-content: space-around; }
    footer .form-footer .mail-footer {
      display: flex;
      justify-content: space-around; }
    footer .form-footer .button-footer {
      margin: .2em auto;
      margin-bottom: 1em;
      text-decoration-line: none;
      list-style-type: none;
      font-family: "Nunito", sans-serif;
      background-color: #de6a50;
      color: #000000;
      border: #000000 solid 0.1em;
      box-shadow: #000000 3px 3px 0, #000000 2px 2px 0, #000000 1px 1px 0;
      transition: all .1s;
      padding: .5em;
      width: 100px; }
      footer .form-footer .button-footer:hover {
        color: #000000;
        cursor: pointer;
        text-decoration: none;
        box-shadow: #000000 1px 1px 0;
        border: #000000 solid 0.1em;
        transform: translate3d(1px, 1px, 0); }

.contact-footer {
  display: flex;
  flex-flow: column;
  font-family: "Roboto", sans-serif; }
  .contact-footer h3 {
    text-align: center;
    width: 100%;
    color: #de6a50; }
  .contact-footer ul {
    width: 100%;
    display: flex;
    flex-flow: row;
    justify-content: center; }
    .contact-footer ul li {
      list-style-type: none;
      margin: 0 2em 0 2em; }

@media screen and (min-width: 960px) {
  footer {
    flex-flow: row; }
    footer .form-footer {
      width: 50%; }
    footer .contact-footer {
      width: 50%; } }

/*# sourceMappingURL=main.css.map */
