{% extends 'base.html.twig' %}

{% block title %}Edit Admin{% endblock %}

{% block body %}
<div class="body-form">
    <div class="form">

    <h1>Edit Admin</h1>

    {{ include('admin/_form.html.twig', {'button_label': 'Update'})  }}

    <a href="{{ path('admin_index') }}">
        {{ 'back to list form' | trans({'%param': 'Article'}) }}</a>

    {{ include('admin/_delete_form.html.twig') }}
        <div>
            <div>
{% endblock %}
