<!DOCTYPE html>
<html>

    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Nantes en live{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="Images/mic.svg">
    </head>


    {% block header %}

        {% for message in app.flashes('Compte créé avec succès!') %}
            <div class="flash-notice">
                {{ message }}
            </div>
        {% endfor %}

        <h1>Nantes en live</h1>
        <nav>
            <ul>
                <li><a href="{{ path('user_new') }}">Sign up !</a></li>
            </ul>
        </nav>
    {% endblock %}

    {% block body %}{% endblock %}

</html>
