<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>{% block title %}Nantes en live{% endblock %}</title>
    <link rel="icon" type="image/x-icon" href="Images/mic.svg">
    {% block stylesheets %} <link rel="stylesheet" href="{{ asset('/main.css') }}" type="text/css"/>{% endblock %}

</head>

    <a class="banner" href="{{ path('home') }}"><h1>Nantes en live</h1></a>

    <nav>
        <ul>
            <li><a href="{{ path('user_new') }}">Sign up !</a></li>
        </ul>
    </nav>


    {% block body %}{% endblock %}

    {% block footer %}
    {{ render(controller('App\\Controller\\NewsletterController::new')) }}
    {% endblock %}

</html>
