<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Nantes en live{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
    <head>
        <h1>Nantes en live</h1>
        <nav>
            <ul>
                <li><a href="{{ path('user_new') }}">Sign up !</a> </li>
            </ul>
        </nav>
    </head>
    </body>
</html>
