{% extends 'base.html.twig' %}

{% block title %}Edit Article{% endblock %}

{% block body %}
<div class="body-form">
    <div class="form">

    <h1>Edit Article</h1>

    {{ include('article/_form.html.twig', {'button_label': 'Update' | trans}) }}

    <a href="{{ path('article_index') }}">
        {{ 'back to list from' | trans({'%param%': 'Article'}) }}</a>

    {{ include('article/_delete_form.html.twig') }}

        <div>
            <div>
{% endblock %}
