{% extends 'base.html.twig' %}

{% block title %}New article{% endblock %}

{% block page %}
    <form>
        <h1>Nouvel article</h1>

        {{ include('article/_form.html.twig') }}

        <a class="button" href="{{ path('article_index') }}">back to list</a>
    </form>
{% endblock %}
