{% extends 'base.html.twig' %}

{% block title %}User index{% endblock %}

{% block page %}
    <h1>Votre compte</h1>



    <a class="button" href="{{ path('logout_route') }}">Bye bye</a>
{% endblock %}
