{% extends 'base.html.twig' %}

{% block title %}Events{% endblock %}

{% block page %}

    <script src="{{ asset('/script.js') }}"></script>

    <h2>Événements</h2>

    <div id="event"></div>

{% endblock %}
